@font-face {
    font-family: 'HelveticaNeue';
    src: url('./汇文明朝体.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue2';
    src: url('./qiji-fallback.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChillKaiShu';
    src: url('./ChillLongCangKaiShu_Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ZhuanTi';
    src: url('./SanJiXiaoZhuanJian-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
